[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-jsonresponse = "*"
django-http = "*"
django-shortcuts = "*"
datetime = "*"
requests = "*"
json = "*"
logging = "*"

[requires]
python_version = "3.7"

[scripts]
server = "python manage.py runserver"
monitoring = "python monitoring.py"